<app-page-loader [isSmallLoader]="true" *ngIf="loaderval"></app-page-loader>


<div *ngIf="!loaderval" class="container container-paddinng text-dark">
    <form [formGroup]="myProfile">

        <div class="row">
            <div class="col-12 text-right"> 
                <h1 style="text-align:center; padding-top:15px;">User Profile</h1>
                
                <img src="\assets\images\user.png" class="img-rounded" alt="DocCard Logo" width="150" height="150" >
           
           
                <mat-form-field class="col-12 col-md-6  pb-3 float-left">
                    <mat-label>Doc ID.</mat-label>
                    <input matInput disabled [value]="profileData.username">
                  </mat-form-field>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12"> 
                <!-- <div> -->
                    <mat-form-field class="col-12 col-md-6  pb-3 float-left">
                        <mat-label>First Name.</mat-label>
                        <input matInput disabled [value]="profileData.first_name">
                        <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
                    </mat-form-field>
                <!-- </div> -->
                <!-- <div> -->
                    <mat-form-field class="col-12 col-md-6  pb-3 float-left">
                        <mat-label>Last Name.</mat-label>
                        <input matInput disabled [value]="profileData.last_name">
                        <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
                    </mat-form-field>
                <!-- </div>            -->
            </div>
        </div>
    
        <div class="row">
            <div class="col-12"> 
                <!-- <div> -->
                    <mat-form-field class="col-12 col-md-6  pb-3 float-left">
                        <mat-label>Email Id.</mat-label>
                        <input matInput [disabled]="editgmail" (keyup)="emailInput($event)" [value]="profileData.email">
    
                        <mat-icon mat-list-icon matSuffix (click)="editemailvalue()" [hidden]="!uneditgmail"> mode_edit</mat-icon>
                        <mat-icon mat-list-icon matSuffix  (click)="saveemailchanges()" [hidden]="savegmail"> send</mat-icon>
                        <mat-icon mat-list-icon matSuffix class="text-success"  [hidden]="!emailOTPVerify">check_circle</mat-icon>
                        <!-- <span *ngIf="emailOTPVerify" class="material-icons text-success">check_circle</span> -->
                        
                    </mat-form-field>
                <!-- </div> -->
                <div class="col-12 col-md-6  pb-3 float-left" [hidden]="hideotp" >
                    <mat-form-field>
                        <mat-label>Enter Email OTP</mat-label>
                        <input formControlName="emailotp" matInput >
                        <mat-icon mat-list-icon matSuffix (click)="emailVerify()"> send</mat-icon>
                        
                    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <mat-icon mat-list-icon matSuffix (click)="emailReset()"> cached</mat-icon>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12"> 
                <!-- <div> -->
                    <mat-form-field class="col-12 col-md-6  pb-3 float-left">
                        <mat-label>Mobile Number.</mat-label>
                        <input matInput [disabled]="editphone" (keyup)="mobileInput($event)"  type="tel" maxlength="10" (keypress)="keyPress($event)" [value]="profileData.moblie_no">
    
                        <mat-icon mat-list-icon matSuffix (click)="editphonevalue()" [hidden]="!uneditphone"> mode_edit</mat-icon>
                        <mat-icon mat-list-icon matSuffix  (click)="savephonechanges()" [hidden]="savephone"> send</mat-icon>
                        <mat-icon mat-list-icon matSuffix class="text-success"  [hidden]="!mobileOTPVerify">check_circle</mat-icon>
                        
                    </mat-form-field>
                <!-- </div> -->
                <div class="col-12 col-md-6  pb-3 float-left" [hidden]="hidemobotp " >
                    <mat-form-field>
                        <mat-label>Enter Mobile OTP</mat-label>
                        <input formControlName="mobotp" matInput >
                        <mat-icon mat-list-icon matSuffix (click)="mobileVerify()"> send</mat-icon>
                        
                    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <mat-icon mat-list-icon matSuffix (click)="mobileReset()"> cached</mat-icon>
                </div>
            </div>
        </div>
    
    
        <div class="row">
            <div class="col-12"> 
                <!-- <div> -->
                    <mat-form-field class="col-12 col-md-6  pb-3 float-left">
                        <mat-label>Date of Birth.</mat-label>
                        <input matInput disabled [value]="profileData.date_of_brith">
                    </mat-form-field>
                <!-- </div> -->
            </div>
        </div>
    
        <div class="row">
            <div class="col-12 col-md-6  pb-3 float-left"> 
                <!-- <div> -->
                    <mat-form-field class="col-12 pr-0 float-left">
                        <mat-label>User Type.</mat-label>
                        <input matInput disabled [value]="profileData.user_type">
                    </mat-form-field>
                <!-- </div> -->
            </div>
            <div class="col-12 col-md-6 text-center pb-3 float-left">
                <!-- <mat-form-field class="col-12 col-md-6  pb-3 float-left"> -->
                    <button mat-button class="deleteButton" (click)="clickDelete()">Delete Account</button>
                <!-- </mat-form-field> -->
            </div>
        </div>

        

    </form>
</div>

