<form [formGroup]="receivedfile" class="form_style">
    <mat-card class="p-5">
        
        <div class="row">
            <div class="col-12 pb-3 float-left">
                <h1 class="text-center w-100">
                    Receive Files
                </h1>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12 pb-3 float-left">
                <mat-form-field>
                    <mat-label>Sender's Doc. Id</mat-label>
                    <input formControlName="senderid"  matInput placeholder="Sender's Doc. Id" type="tel" minlength="12" maxlength="12" (keypress)="keyPress($event)" >
                    <mat-hint style="color: red;" *ngIf="g.senderid.touched && g.senderid.errors?.required">
                        Sender's Doc. Id is Required.
                    </mat-hint>
                </mat-form-field>

                <div>
                    <button class="w-100" (click)="cardrequest()"  mat-raised-button color='primary'>Get Details</button>
                    
                </div>

            </div>

            <div *ngIf = "carddetails == false">

                <mat-form-field>
                            
                    <mat-select formControlName="contactFormSubjects" placeholder="Select File" [(value)]="showval" multiple>
                    
                        <mat-option *ngFor="let val of optionsSelect" [value]="val.value">
                            {{val.label}}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red;" *ngIf="g.contactFormSubjects.touched && g.contactFormSubjects.errors?.required">
                        Please Select File.
                    </mat-hint>
                </mat-form-field>
            

                <div class="col-12 pb-3 float-left">
                    <mat-radio-group formControlName="otptype" class="margin-left">
                        <mat-label>OTP Type:</mat-label>&nbsp;
                        <mat-radio-button value="Email">Email</mat-radio-button>&nbsp;
                        <mat-radio-button value="Mobile">Mobile</mat-radio-button>
                    </mat-radio-group>
                </div>


              
                <div class="col-12 px-5 text-center float-left">
                    <button class="w-100 button-style" color="info" outline="true" rounded="true"   (click)="filereceived()" mat-raised-button color='primary'>Request OTP</button>
                </div>


                <!-- <div class="col-12 pb-3 float-left">
                        
                    <div class="col-12 col-md-6 pl-0 float-left">
                        <mat-form-field>
                            <mat-label>Mobile Number</mat-label>
                            <input formControlName="mobile"  [readOnly]="sendmobileotpDisable? true:false" matInput placeholder="Mobile Number" type="tel" maxlength="10" (keypress)="keyPress($event)" >
                            <mat-hint style="color: red;" *ngIf="g.mobile.touched && g.mobile.errors?.required">
                                Mobile Number is Required
                            </mat-hint>
                        </mat-form-field>
                    </div>
            
                    <div class="col-12 col-md-6 float-left sendotp-btn">
                        <button (click)="sendmobileotp()" *ngIf="!g.mobile.errors?.required"  [disabled]="sendmobileotpDisable? true:false" mat-raised-button color='primary'>Send OTP</button>
                    </div>
                </div> -->
            
                <!-- <div class="col-12 pb-3 float-left" *ngIf = "otp2">
                        
                    <div class="col-12 col-md-6 pl-0 float-left">
                        <mat-form-field>
                            <mat-label>Enter Mobile OTP</mat-label>
                            <input formControlName="mobileotp" (keyup)="mOTP($event)" matInput placeholder="Enter Mobile OTP">
                            <mat-hint style="color: red;" *ngIf="g.mobileotp.touched && g.mobileotp.errors?.required">
                                OTP is Required
                            </mat-hint>
                        <span *ngIf="mobileOTPVerify" class="material-icons text-success">check_circle</span>

                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6 float-left sendotp-btn">
                        <button (click)="verifymobile()" mat-raised-button color='primary'>Verify OTP</button>
                        <button (click)="resetmobile()" class="ml-3" mat-raised-button color='primary'>Reset</button>
                    </div>

                </div> -->
            </div>
        </div>
       

        
    
    </mat-card>
</form>
