<!-- <button color = "primary"  mat-raised-button>Click Me</button> -->
<mat-toolbar class="navbar">
  <div>Doc.Card</div>
  <div>
    <!-- <button mat-button routerLink='/doctransation'>Doc Tansaction History</button>
    <button mat-button routerLink='/doc' >Doc</button> -->
    <button mat-button routerLink='/login' >Login</button>
    <button mat-button  routerLink='/register'>Register</button>
    <button mat-button  routerLink='/contactUs'>Contact Us</button>
    <!-- <button mat-button  routerLink='/two-factor'>Two_Factor_Auth</button> -->
    <!-- <button mat-button  routerLink='/sender_dashboard'>Sender Dashboard</button>
    <button mat-button  routerLink='/receiver_dashboard'>Receiver Dashboard</button> -->
    
  </div>
</mat-toolbar>

<div class="container-flute">
  <router-outlet></router-outlet>
</div>