<!-- <button color = "primary"  mat-raised-button>Click Me</button> -->
<mat-toolbar color="primary" class="navbar">
  <div>Doc.Card</div>
  <div>
    <!-- <button mat-button routerLink='/doctransation'>Doc Tansaction History</button>
    <button mat-button routerLink='/doc' >Doc</button> -->
    <button mat-button routerLink='/login' >Login</button>
    <button mat-button  routerLink='/register'>Register</button>
    <button mat-button  routerLink='/contactUs'>Contact Us</button>
    <button mat-button  routerLink='/sender-dashboard'>Sender Dashboard</button>
    <button mat-button  routerLink='/receiver-dashboard'>Receiver Dashboard</button>
    <!-- <button mat-button  routerLink='/myprofile'>My Profile</button> -->
    
  </div>
</mat-toolbar>

<div class="container-flue">
  <!-- <app-sender-dashboard></app-sender-dashboard> -->
  <router-outlet></router-outlet>
</div>
