
.h1-style{
    font-weight: bolder;
    font-size: x-large;
    padding: 0vw 13vw;
}

// .sendotp-btn{
    // float: inline-end;
    // margin-right: 9vw;
    // margin-left: -14vw;
// }

.form_style{
    padding: 2vw 15vw;
    float: left;
    height: auto;
    width: 100%;
    font-size: 1vw
    ;
}

// .pagestyle{
//     width: 100%;
//     background: white;
//     float: left;
// }