/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body 
{ 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('../src/assets/images/background_Image.jpg');
    background-color: antiquewhite;
    background-size: cover;
}

.font_1vw {
    font-size: 1vw;
}

.modalAlertIcon{
    position: relative;
    top: 5px;
}