<app-page-loader [isSmallLoader]="true" *ngIf="loaderval"></app-page-loader>


<div class="container">

 
    <form #Fileform = ngForm [formGroup]="form" >


      <div class="row">
   

        <div class="col-12  pb-3 float-left">
            <mat-form-field>
                <mat-label>Enter File Name</mat-label>
                <input #Filename formControlName="fileName" (keypress)="keyPress($event)" appBlockCopyPaste  matInput placeholder="Enter File Name">
                <mat-hint style="color: red;" *ngIf="g.fileName.touched && g.fileName.errors?.required">
                    File Name is Required
                </mat-hint>
            </mat-form-field>
        </div>

        <div class="col-12  pb-3 float-left">
            <div class="col-6 float-left pl-0">
              <label class="float-left pr-3">Choose File: </label>  <input #Choosefile  class="float-left" type="file" name="profile" (change)="onChange($event)" />
            </div>
            <div class="col-6 float-left">
              <div class="progress" *ngIf="progress">
                <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
              </div>
            </div>
        </div>

        <div class="col-12 px-5 text-center float-left">
          <!-- <button class="w-100" (click)="registersubmit()" mat-raised-button color='primary'>Submit</button> -->
          <button class="w-100" (click)="onSubmit()"  mat-raised-button color='primary'  [disabled]="Filename.value == '' || Choosefile.value == '' || !Fileform.valid">Submit</button>
        </div>


    </div>
  
    </form>

   
  
  </div>