<div class="form-style">

    <form  #ResetPasswordform=ngForm style="color: #757575;" [formGroup]="resetpasswordForm" >
        <mat-card class="p-0">

            <mat-card-header class="info-color headerBg white-text text-center py-4">
                <div class="contactUs text-white">Reset Password</div>
            </mat-card-header>


            <div class="row p-5 text-center">
               
                <div class="row text-center">
                    <div class="col-12 pb-3 w-100">
                        
                        <div class="col-12 pb-3 w-100">
                            <mat-form-field>
                                <mat-label>Email Id</mat-label>
                                <input #EmaiId formControlName="resetpasswordFormEmail" (keyup)="emailInput($event)" [readOnly]="sendemailotpDisable? true:false" matInput placeholder="Email Id" >                
                                <mat-hint style="color: red;" *ngIf="g.resetpasswordFormEmail.touched && g.resetpasswordFormEmail.errors?.required">
                                    Email Id is Required
                                </mat-hint>
                                <mat-hint style="color: red;" *ngIf="g.resetpasswordFormEmail.errors?.resetpasswordFormEmail">
                                    Please Enter Correct Email Id 
                                </mat-hint>
                            
                            </mat-form-field>
                            <span #checkicon *ngIf="emailOTPVerify" class="material-icons text-success">check_circle</span>
                        </div>
                        <div class="col-12 pb-3 w-100 sendotp-btn">
                            <button (click)="sendemailotp()" *ngIf="!g.resetpasswordFormEmail.errors?.resetpasswordFormEmail && !g.resetpasswordFormEmail.errors?.required"  [disabled]="sendemailotpDisable? true:false" mat-raised-button color='primary' >Send OTP</button>
                            
                        </div>
                    </div>
            
                    <div class="col-12 pb-3 w-100" *ngIf = "otp1">
                        
                        <div class="col-12 pb-3 w-100 ">
                            <mat-form-field>
                                <mat-label>Enter Email OTP</mat-label>
                                <input formControlName="emailotp" appBlockCopyPaste (keyup)="eOTP($event)"  matInput placeholder="Enter Email OTP" >
                                <mat-hint style="color: red;" *ngIf="g.emailotp.touched && g.emailotp.errors?.required">
                                    OTP is Required
                                </mat-hint>
                                <!-- <mat-hint style="color: red;" *ngIf="g.emailotp.errors?.otpemail">
                                    Email OTP is not Matching
                                </mat-hint> -->
                            </mat-form-field>
                            
                        </div>
                        <div class="col-12 pb-3 w-100 sendotp-btn">
                            <button (click)="verifyemail()" mat-raised-button color='primary'>Verify OTP</button>
                            <button (click)="resetemail()" class="ml-3" mat-raised-button color='primary'>Reset</button>
                        </div>
                    </div>
                </div>  
            

                <div class="row text-center" [hidden]="hidepass">
                    <div class="col-12 pb-3 w-100">
                        <mat-form-field>
                            <mat-label>New Password</mat-label>
                            <input #Newpassval formControlName="password" appBlockCopyPaste [type]="hide1 ? 'password' : 'text' " matInput placeholder="Password" >
                            
                            <button mat-icon-button matSuffix (click)=" hide1 = !hide1" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-hint style="color: red;" *ngIf="g.password.touched && g.password.errors?.required">
                               New Password is required.
                            </mat-hint>
                            <mat-hint style="color: red;" *ngIf="g.password.errors?.minlength">
                               New Password must be at least 6 characters long.
                             </mat-hint>
                        </mat-form-field>
                    </div><br>
            
                    <div class="col-12 pb-3 w-100">
                        <mat-form-field>
                            <mat-label>Confirm Password</mat-label>
                            <input #Confirmpassval formControlName="confirmpassword" appBlockCopyPaste  [type]="hide2 ? 'password' : 'text' " matInput placeholder="confirmpassword" >
                            <button mat-icon-button matSuffix (click)=" hide2 = !hide2" [attr.aria-label]="'Hide Confirm Password'" [attr.aria-pressed]="hide2">
                                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-hint style="color: red;" *ngIf="g.confirmpassword.touched && g.confirmpassword.errors?.required">
                               Confirm Password is Required.
                            </mat-hint>
                            <mat-hint style="color: red;" *ngIf="g.confirmpassword.errors?.mustMatch">
                                New Password and Confirm Password is not Matching.
                             </mat-hint>
                            
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-12 pb-3" [hidden]="hidepass">
                    <button class="text-center button-style" color="info" outline="true" rounded="true" (click)="onSubmit()" mat-raised-button color='primary'  [disabled]="EmaiId.value == '' || Newpassval.value == '' || Confirmpassval.value == '' || !ResetPasswordform.valid" (click)="ResetPasswordform.reset({})" >Reset Password</button>
                </div>
            </div>

        </mat-card>
    </form>

</div>
