// .mat-form-field{
//     width: 100%;
// }

.contactUs{
    float: left;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    width: 100%;
}

.headerBg{
    background: #33b5e5;
}

.form-style{
    padding: 1vw 20vw;
}

.button-style{
    border-radius: 2vw;
    background: #fff;
    color: #33b5e5;
    border: 1px solid;
}
