<div class="container container-paddinng text-dark" style="background-color:white">
    <div class="row">
        <div class="col-12 text-center"> 
            <br> <br>
            <img src="\assets\images\doc.png" class="img-rounded" alt="DocCard Logo" width="150" height="100">
        </div>
        <br><br>
        <div class="col-12 float-left"> 
            <br>
            <h2 class="text-center">Doc.Card Device Verification</h2><br>
        </div>
        
        
    </div>
    <div class="row">
        <div class="co,l-12 float-left" style="background-color:#E0FFFF;  width: 300px;">
            
            <div class="col-12 float-left">
                <form>
                    <div class="form-group">
                        <br>
                    <b><label for="verify">Device Verification Code</label></b>
                      <input type="number" class="form-control" id="verify" placeholder="6-digit Code" name="verify"  min="6" max="6">
                      
                    </div>
                    <button type="submit" class="btn w-100 bg-success
                    btn-default">Submit</button>
                    <br><br><br>
                  </form>
            </div>
            
        </div>
        

    </div>
    <div class="row">
        <div class="col-12 float-left">
            <p>
                We just sent your authentication code via email to r***********@gmail.com. The code will expire at 12:36PM IST. 
            </p>
            <p>
                Re-send the code
            </p>
            <p>
                If you'd like to automatically verify devices in the future, consider enabling two-factor authentication on your account. 
            </p>
        </div>
    </div>


</div>
