
.navbar{
    justify-content: space-between;
    background-color: #21d190;
    background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);


}

button{
    padding-right: 1rem;
}

.userName{
    font-size: 1.5vw;
    color: #fff;
}

.userImg{
    position: relative;
    top: 7px;
}