<!--
<div class="container">
  <div class="row">
    <div class="col-12 col-style">
      <app-legend
        [legendText]="' Registration Page '"
        [legendContainerClass]="'customClass'"
      >
        <div fieldset-body>
          <div class="row">
            <div class="col-12">
              <div class="col-6 float-left">First Name</div>
              <div class="col-6 float-right">
                <input type="text" />
              </div>
            </div>

            <div class="col-12">
              <div class="col-6 float-left field-style">Last Name</div>
              <div class="col-6 float-right field-style">
                <input type="text" />
              </div>
            </div>

            <div class="col-12">
              <div class="col-6 float-left field-style">Select Type</div>
              <div class="col-6 float-right field-style">
                <input type="radio" id="sender" name="user" value="sender" />
                <label for="male">Sender</label>&nbsp;
                <input type="radio" id="receiver" name="user" value="receiver" />
                <label for="receiver">Receiver</label><br />
              </div>
            </div>

            <div class="col-12">
              <div class="col-6 float-left field-style">E-mail</div>
              <div class="col-6 float-right field-style">
                <input type="text" />
              </div>
            </div>
            
            <div class="col-12">
              <div class="col-6 float-left field-style">Mobile Number</div>
              <div class="col-6 float-right field-style">
                <input type="text" />
              </div>
            </div>

            <div class="col-12">
              <div class="col-6 float-right field-style">
                <input type="submit" value="Submit">
              </div>
            </div>

          </div>
        </div>
      </app-legend>
    </div>
  </div>
</div>

-->