<form [formGroup]="sendfile" class="form_style">
    <mat-card class="row">
        
        <div class="row">
            <div class="col-12 pb-3 float-left">
                <h1 class="text-center w-100">
                    Send Files
                </h1>
            </div>
        </div>
    
        <div class="row text-center ">
            <div class="col-12 pb-3 w-100 ">
                <mat-form-field>
                    <mat-label>Receiver's Doc. Id</mat-label>
                    <input formControlName="receiverid"  matInput placeholder="Receiver's Doc. Id" type="tel" minlength="12" maxlength="12" (keypress)="keyPress($event)" >
                    <mat-hint style="color: red;" *ngIf="g.receiverid.touched && g.receiverid.errors?.required">
                        Receiver's Doc. Id is Required.
                    </mat-hint>
                </mat-form-field>
            </div>

            <div class="col-12 pb-3 w-100 ">    
                <mat-form-field>
                
                        
                <mat-select formControlName="contactFormSubjects" placeholder="Select File" [(value)]="showval" multiple>
                   
                    <mat-option *ngFor="let val of optionsSelect" [value]="val">
                        {{val}}
                    </mat-option>
                </mat-select>
                <mat-hint style="color: red;" *ngIf="g.contactFormSubjects.touched && g.contactFormSubjects.errors?.required">
                    Please Select File.
                </mat-hint>
            </mat-form-field>
            </div>
              
            <div class="col-12 pb-3 ">
                
                    <button class=" text-center button-style " color="info" outline="true" rounded="true" (click)="filesend()" mat-raised-button>Send</button>
               
            </div>
            
        </div>
        
    
    </mat-card>
</form>
